@model IEnumerable<CareTracker.Models.Prescription>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DrugName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dosage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Frequency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PharmacyAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PharmacyPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrescriptionNotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrescriptionActive)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Dependent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PharmacyAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PharmacyPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionNotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescriptionActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dependent.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrescriptionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrescriptionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrescriptionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
