@model CareTracker.Models.AppointmentViewModels.AppointmentCreateViewModel

@{
    ViewData["Title"] = "Create New Appointment";
}

<h2>Create New Appointment</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.DependentList)
                @Html.DropDownList(
              "Appointment.DependentId",
              @Model.DependentList,
             new
             {
                 @name = "Appointment.DependentId",
                 @class = "form-control"
             }
             )
                @Html.ValidationMessageFor(model => model.DependentList, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DoctorList)
                @Html.DropDownList(
              "Appointment.DoctorId",
              @Model.DoctorList,
             new
             {
                 @name = "Appointment.DoctorId",
                 @class = "form-control"
             }
             )
                @Html.ValidationMessageFor(model => model.DoctorList, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label"></label>
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentTime" class="control-label"></label>
                <input asp-for="Appointment.AppointmentTime" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentReason" class="control-label"></label>
                <input asp-for="Appointment.AppointmentReason" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentReason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentAddress" class="control-label"></label>
                <input asp-for="Appointment.AppointmentAddress" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentPhoneNumber" class="control-label"></label>
                <input asp-for="Appointment.AppointmentPhoneNumber" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentNotes" class="control-label"></label>
                <input asp-for="Appointment.AppointmentNotes" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentNotes" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="DependentId" class="control-label"></label>
            <select asp-for="DependentId" class ="form-control" asp-items="ViewBag.DependentId"></select>
        </div>
        <div class="form-group">
            <label asp-for="DoctorId" class="control-label"></label>
            <select asp-for="DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
