@model CareTracker.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentPhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentNotes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppointmentNotes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dependent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dependent.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AppointmentId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
