@model CareTracker.Models.DoctorsViewModels.DoctorsDetailsViewModel

@{
    ViewData["Title"] = "Doctor Details";
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2>Details for Dr.@Html.DisplayFor(Model => Model.Doctor.FirstName) @Html.DisplayFor(Model => Model.Doctor.LastName)</h2>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Doctor.Hospital)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doctor.Hospital)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Doctor.Specialty)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doctor.Specialty)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Doctor.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doctor.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Doctor.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Doctor.PhoneNumber)
            </dd>
        </dl>
    </div>
    <div class="panel-footer">
        <a class="btn btn-info" asp-action="index" asp-controller="Doctors">See Doctor List</a>
    </div>
 </div>

 
